/*CSS - Cascading StyleSheet.
CASDING-significa cascata.
STYLE-significa estilo.
SHEET- significa folha.
Logo, CSS é uma folha de estilo em cascata.
O css trabalha com seletores. Ou seja,os seletores são a conexão entre o estilo
que se vai aplicar na tag html que se vai aplicar.
LINK-é uma função que permiti inserir os hiperlinks em diversos elementos, como 
textos e imagens. Mas um link necessita sempre apontar para um URL.
URL- Uniform Resource Locator é um endereço de recurso disponível na rede.
Alinhamentos: text-align, display, grid-template-columns.
Espaçamentos:margin (top, right, bottom, left)
Larguras:width
Alturas:height











*/